<nav class="navbar navbar-expand-lg navbar-dark p-5" [ngClass]="{'nav': !navbarScroll, 'navScroll': navbarScroll }">
        <h1 routerLink="/home">Le Angubar</h1>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end collapseScroll">
            <ul class="navbar-nav">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link nav-btn" routerLink="/home">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-btn" routerLink="/gallery">Galerie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-btn" routerLink="/contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-btn" href="#"><i class="fab fa-facebook-square"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-btn" href="#"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
        </div>
    </nav>