<nav class="navbar navbar-expand-lg navbar-dark p-5" [ngClass]="{'nav': !navbarScroll, 'navScroll': navbarScroll }">
    <h1 routerLink="/home">Le Angubar</h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse justify-content-end collapseScroll">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link nav-btn" routerLink="/home">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn" routerLink="/gallery">Galerie</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn" routerLink="/contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn" href="#"><i class="fab fa-facebook-square"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-btn" href="#"><i class="fab fa-instagram"></i></a>
            </li>
        </ul>
    </div>
</nav>

<header>
    <div class="background-img mb-4"
        [ngClass]="{'menuBackground': menuBackground, 'wineBackground': wineBackground, 'restaurantBackground': restaurantBackground}">
        <div class="container">
            <div class="home-container text-center">
                <div class="home-content">
                    <p class="adress animated fadeIn slow delay-1s">17, rue Delandine, 69002 Lyon, 06 11 11 22 33</p>
                    <ul class="nav justify-content-center">
                        <li class="nav-item mx-4 animated fadeInUp slow">
                            <a class="nav-link carte" (mouseenter)="getMenuBackground()"
                                (mouseleave)="getMenuBackground()">Carte</a>
                        </li>
                        <li class="nav-item mx-4 vin animated fadeInDown slow">
                            <a class="nav-link" (mouseenter)="getWineBackground()"
                                (mouseleave)="getWineBackground()">Vins</a>
                        </li>
                        <li class="nav-item mx-4 restaurant animated fadeInUp slow">
                            <a class="nav-link" (mouseenter)="getRestaurantBackground()"
                                (mouseleave)="getRestaurantBackground()">Restaurant</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>


<section class="container">
    <div class="row justify-content-center text-center">
        <h2 class="my-5">Le Angubar</h2>
        <p class="description"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo officia mollitia
                magnam iste tempore nostrum
                nobis harum excepturi aliquam? Accusamus magni quos exercitationem odio provident nemo odit officia modi
                nulla?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, incidunt! Ex perspiciatis delectus fugiat
                nam
                neque saepe tenetur sit quidem, dicta ipsam ducimus voluptatibus vero incidunt culpa vitae inventore
                corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, deleniti? Illo temporibus
                dolorem accusamus? Eius ipsam odio deserunt maxime repellat perferendis eligendi animi architecto
                mollitia, unde facilis, fuga nihil ratione!</em>
        </p>
    </div>

    <div class="row my-5">
        <img src="assets/meat/wine-party.jpeg" alt="">
    </div>

    <div class="row justify-content-center text-center">
        <h2 class="my-5">Notre histoire</h2>
        <p class="description"><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo officia mollitia
                magnam iste tempore nostrum
                nobis harum excepturi aliquam? Accusamus magni quos exercitationem odio provident nemo odit officia modi
                nulla?
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, incidunt! Ex perspiciatis delectus fugiat
                nam
                neque saepe tenetur sit quidem, dicta ipsam ducimus voluptatibus vero incidunt culpa vitae inventore
                corporis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, deleniti? Illo temporibus
                dolorem accusamus? Eius ipsam odio deserunt maxime repellat perferendis eligendi animi architecto
                mollitia, unde facilis, fuga nihil ratione!</em>
        </p>
    </div>
</section>

<footer class="footer">
    <div class="container bottom_border">
        <div class="row text-center">
            <div class="col-sm-12 col-md-4">
                <h5 class="headin5_amrc col_white_amrc pt2">Nous contacter</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <p><i class="fa fa-location-arrow mr-2"></i>17, rue Delandine</p>
                    <p class="pl-4">69002 Lyon </p>
                    <p><i class="fa fa-phone mr-2"></i>06 11 11 22 33</p>
                    <p><i class="fa fa fa-envelope mr-2"></i>info@example.com </p>

                </ul>
                <!--footer_ul_amrc ends here-->
            </div>

            <div class="col-sm-12 col-md-4">
                <h5 class="headin5_amrc col_white_amrc pt2">Nous trouver</h5>
                <!--headin5_amrc-->
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2795.3319326197757!2d4.872537615798403!3d45.52352553750336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4df0825571e0d%3A0x634f6ccfa36f8f76!2sMa+Grand+M%C3%A8re!5e0!3m2!1sfr!2sfr!4v1565517166905!5m2!1sfr!2sfr"
                    width="300" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>

            <div class="col-sm-12 col-md-4">
                <h5 class="headin5_amrc col_white_amrc pt2">Nous suivre</h5>
                <!--headin5_amrc-->
                <ul class="footer_ul_amrc">
                    <li><a href="#"><i class="fab fa-facebook-square fa-2x mb-3"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
        </div>
    </div>

    <div class="container">
        <ul class="foote_bottom_ul_amrc text-uppercase">
            <li><a href="http://webenlance.com">Accueil</a></li>
            <li><a href="http://webenlance.com">La carte</a></li>
            <li><a href="http://webenlance.com">Les vins</a></li>
            <li><a href="http://webenlance.com">Le restaurant</a></li>
            <li><a href="http://webenlance.com">Galerie</a></li>
            <li><a href="http://webenlance.com">Contact</a></li>
        </ul>
        <!--foote_bottom_ul_amrc ends here-->
        <!-- <p class="text-center">Copyright @2019 | Designed With by <a href="#">Your Company Name</a></p> -->
    </div>

</footer>